/01_ACG_SnapshotAnalyzer/Pipfile.lock
/01_ACG_SnapshotAnalyzer/build
/01_ACG_SnapshotAnalyzer/dist
/01_ACG_SnapshotAnalyzer/snapshotanalyzer_3000.egg-info
/03_Notifon/config.dev.json
/03_Notifon/notifier/__pycache__
